body {
    background-color: #D1FFC2;
    width: 600px;
    height: 100px;
    font-family: 'Arial', sans-serif;
    border-color: #006600;
  }

  body img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20%;
  }	
  
  h1 {
    color: #006600;
    font-family: 'Arial', sans-serif;
    display: block ;
  }
  
  pre {
    background-color: #E8FFE3;
    border: 2px solid #006600;
    color: #006600;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border-radius: 10px; /* Agrega bordes curvos al cuerpo del documento */
  }