body {
    background-color: #D1FFC2;
    width: 400px;
    font-family: 'Arial', sans-serif;
    border: 5px solid #006600;
    border-radius: 10px;
  }

  h1{
    margin-bottom: 10px;
    background-color: #006600;
    margin-top: 0px;
  }

  h2{
    margin-left: 5px;
  }

  header{
    color: #E8FFE3;
    font-size: 20px;
    text-align: center;
  }

  header img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }	
  
  
  pre {
    background-color: #E8FFE3;
    border: 2px solid #006600;
    color: #006600;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px; /* Agrega bordes curvos al cuerpo del documento */
  }